#panneau{
    margin: 30px;
    
    #onglets{

        li{
            list-style: none;
            float:left;
            width : 125px;
            height : 30px;
            line-height : 30px;
            background : rgba(255,255,255,0.4);
            text-align : center;
            margin-right : 5px;
            color : rgba(0,0,0,0.6);
        }
        li.actif{
            background : white;
            color : black;
        }
    }

    #contenus{

        li{
            background : white;
            width : 500px;
            padding : 20px;

            display : none;
        }
        li.actif{
            display : block;
        }
    }
}